body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.85); 
}

/*.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}*/

.card-title {
    color: #007bff; 
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #41a2f7;
    border-color: #41a2f7; 
}

.btn-primary:hover {
    background-color: #0091ff;
    border-color: #0080ff;
}

.booking-success-message {
    background-color:  rgba(255, 255, 255, 0.85);
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

body {
    background-image: url('../images/market_bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.card {
    background-color: rgba(255, 255, 255, 0.85); 
}

.market-title {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 10px 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    margin-bottom: 20px; 
}

/* โค้ดสำหรับผังแผงตลาด */
.stall-map-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.stall-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.stall-box:hover {
    transform: translateY(-5px);
}

.stall-available {
    background-color: #e9f5e9; /* สีเขียวอ่อน */
    border: 2px solid #28a745; /* ขอบสีเขียว */
}

.stall-occupied {
    background-color: #f8d7da; /* สีแดงอ่อน */
    border: 2px solid #dc3545; /* ขอบสีแดง */
}

.stall-pending {
    background-color: #fff3cd; /* สีเหลืองอ่อน */
    border: 2px solid #ffc107; /* ขอบสีเหลือง */
}

.stall-status-text {
    font-weight: bold;
    margin-top: 10px;
}