body {
    font-family: Arial, sans-serif;
    background-color: #faf9fa; 
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.card-title {
    color: #007bff; 
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #41a2f7;
    border-color: #41a2f7; 
}

.btn-primary:hover {
    background-color: #0091ff;
    border-color: #0080ff;
}

.booking-success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

body {
    background-image: url('../images/market_bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}
